/* =====***** common css starts *****===== */
:root {
  --open-Sans: "Open Sans", sans-serif;
  --oswald: "Oswald", sans-serif;
  --anton: "Anton", sans-serif;
  --nunito: "Nunito", sans-serif;
  --bgcolor: #150035;
  --h1color: #feb702;
  --brandcolor: #6318d1;
  --pcolor: #ffffff;
  --hovercolor: #f935d6;
}

* {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #000;
}

/* =====***** common css ends *****===== */

/* =====***** navbar css starts *****===== */

.navbar {
  z-index: 9999999999;
  background: var(--bgcolor);
}

.navbar .navbar-brand img {
  background: cover;
}

.navbar .navbar-nav:first-of-type {
  padding-left: 170px;
}

.navbar .navbar-nav .nav-item {
  padding-top: 60px;
  align-items: center;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: var(--brandcolor);
  font-size: 20px;
  font-family: var(--nunito);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 50px;
  padding-right: 50px;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f935d6;
}

.navbar .navbar-nav .nav-item .signup {
  padding-right: 0;
  padding-left: 0;
  padding: 0 35px;
  margin-left: 40px;
  background: var(--hovercolor);
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 6px #661355;
  transition: all linear 0.4s;
  border: 2px solid #661355;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .signup:hover {
  color: white;
  background: none;
  box-shadow: none;
  border: 2px solid purple;
}

.navbar .navbar-nav .nav-item .login {
  padding-right: 0;
  padding-left: 0;
  padding: 0 35px;
  background: var(--brandcolor);
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 6px #3a0090;
  border: 2px solid #3a0090;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

.navbar .navbar-nav .nav-item .login:hover {
  color: white;
  background: none;
  box-shadow: none;
  border: 2px solid purple;
}

/* -----***** navbar css ends *****----- */

/* -----***** banner css starts *****----- */
#banner-bg {
  justify-content: space-btweem;
  align-items: center;
  padding-top: 45px;
  background: #150035;
  padding-bottom: 250px;
}

#banner-bg .banner-text h4 {
  color: white;
  font-size: 20px;
  font-family: var(--nunito);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 50px;
  margin-bottom: 0 !important;
}

#banner-bg .banner-text .banner-777 {
  font-size: 331px;
  color: #fcb100;
  font-family: var(--anton);
  font-weight: 700;
  line-height: 50px;
  padding-top: 120px;
}

#banner-bg .banner-text p {
  color: white;
  font-size: 16px;
  font-family: var(--nunito);
  font-weight: 400;
  padding-top: 120px;
}

#banner-bg .banner-text a {
  padding-right: 0;
  padding-left: 0;
  padding: 10px 35px;
  background: linear-gradient(#b180f1, #8450cc);
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 6px #2c0c5d;
  border: 2px solid #2c0c5d;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

#banner-bg .banner-text a:hover {
  background: black;
  border: 2px solid purple;
  box-shadow: none;
}

/* -----***** banner css ends *****----- */

/* -----***** counter css starts *****----- */

#counter-bg {
  margin-bottom: 60px;
}

#counter-bg .counter-content {
  position: relative;
}

#counter-bg .counter-item {
  background: #6619d2;
  text-align: center;
  position: absolute;
  top: -180px;
  left: 0;
  -webkit-clip-path: polygon(0 12%, 100% 1%, 100% 100%, 0% 100%);
  clip-path: polygon(0 12%, 100% 1%, 100% 100%, 0% 100%);
}

#counter-bg .counter-item h6 {
  color: #fcb100;
  font-size: 50px;
  font-family: var(--oswald);
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0 !important;
  padding-top: 90px;
}

#counter-bg .counter-item p {
  color: white;
  font-size: 50px;
  font-family: var(--oswald);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 32px;
  margin-bottom: 0 !important;
  padding-top: 25px;
}

#counter-bg .counter-item p:last-of-type {
  font-size: 16px;
  font-family: var(--nunito);
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

#counter-bg .item-1 {
  padding-left: 70px;
  padding-right: 70px;
}

#counter-bg .item-2 {
  padding-left: 70px;
  padding-right: 70px;
}

#counter-bg .item-3 {
  padding-right: 70px;
}

/* -----***** counter css ends *****----- */

/* -----***** games css starts *****----- */
#games-bg {
  padding-top: 100px;
}

#games-bg .games-heading {
  text-align: center;
}

#games-bg .games-heading h4 {
  font-size: 48px;
  color: var(--h1color);
  font-family: var(--anton);
  text-transform: capitalize;
}

#games-bg .games-img .item {
  position: relative;
  margin-top: 60px;
  width: 32%;
  margin-right: 2%;
}

#games-bg .games-img .item:last-child {
  margin-right: 0;
}

#games-bg .games-img .item img {
  width: 100%;
}

#games-bg .games-img .item {
  overflow: hidden;
}

#games-bg .games-img .item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(21, 0, 53, 85%);
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

#games-bg .games-img .item:hover .overlay {
  top: 0;
  left: 0;
}

#games-bg .games-img .overlay p {
  font-size: 24px;
  line-height: 50px;
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 50%;
  padding-top: 165px;
}

#games-bg .games-img .overlay a {
  padding-right: 0;
  padding-left: 0;
  padding: 10px 35px;
  background: linear-gradient(#8d59db, #47237a);
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all linear 0.4s;
  border: 2px solid #2c0c5d;
  margin-top: 50px !important;
}

#games-bg .games-img .overlay a:hover {
  color: white;
  background: black;
  border: 2px solid purple;
  box-shadow: none;
}
/* -----***** games css ends *****----- */

/* -----***** games about css starts *****----- */
#games-about {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  background: var(--bgcolor);
}

#games-about .about-games-text {
  padding-top: 70px;
}

#games-about .about-games-text h4 {
  font-size: 48px;
  color: var(--h1color);
  font-family: var(--anton);
  text-transform: capitalize;
  margin-bottom: 0;
}

#games-about .about-games-text p {
  color: white;
  margin-top: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--open-Sans);
  font-weight: 400;
  padding-top: 20px;
}

#games-about .about-games-text p:first-of-type {
  padding-top: 60px;
}

#games-about .about-games-text a {
  padding-right: 0;
  padding-left: 0;
  padding: 10px 35px;
  background: linear-gradient(#9a79ca, #8a4de0);
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all linear 0.4s;
  box-shadow: 0px 6px #4e2291;
  border: 2px solid #2c0c5d;
  margin-top: 50px !important;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

#games-about .about-games-text a:hover {
  color: white;
  background: black;
  border: 2px solid purple;
  box-shadow: none;
}

/* -----***** games about css ends *****----- */

/* -----***** praicing plan css starts *****----- */
#pricing-bg .pricing-head h4 {
  font-size: 48px;
  line-height: 50px;
  color: var(--h1color);
  font-family: var(--anton);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-bottom: 85px;
}

#pricing-bg .pricing-item .item {
  background: var(--brandcolor);
  text-align: center;
  position: relative;
}

#pricing-bg .pricing-item .item .box-head {
  background: var(--hovercolor);
  position: absolute;
  top: -60px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
}

#pricing-bg .pricing-item .item:hover .box-head {
  visibility: visible;
  opacity: 1;
}

#pricing-bg .pricing-item .item .box-head h5 {
  font-size: 18px;
  line-height: 50px;
  font-family: var(--oswald);
  font-weight: 500;
  text-transform: capitalize;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

#pricing-bg .pricing-item .item .price {
  padding-top: 70px;
}

#pricing-bg .pricing-item .item .price h4 {
  font-size: 32px;
  line-height: 50px;
  color: white;
  font-family: var(--anton);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-bottom: 50px;
}

#pricing-bg .pricing-item .item .price p:first-of-type {
  font-size: 50px;
  line-height: auto;
  color: white;
  font-family: var(--open-Sans);
  font-weight: 400;
  text-transform: capitalize;
}

#pricing-bg .pricing-item .item .price p:last-of-type {
  font-size: 16px;
  line-height: 40px;
  color: #ece9e9;
  font-family: var(--open-Sans);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

#pricing-bg .pricing-item .item .price-details p {
  font-size: 16px;
  line-height: 40px;
  color: white;
  font-family: var(--open-Sans);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0;
}

#pricing-bg .pricing-item .item .box-footer a {
  font-size: 24px;
  font-family: var(--oswald);
  font-weight: 500;
  text-transform: capitalize;
  color: white;
  padding: 15px 30px;
  background: linear-gradient(#f566dd, #8d0c71);
  background: var(--hovercolor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#pricing-bg .pricing-item .item .box-footer {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/* -----***** praicing plan css ends *****----- */
